<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTaxi - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/media.css">
</head>
<body>
    @RenderSection("Header", false)
    @RenderBody()
    @RenderSection("Footer", false)
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="~/js/m-menu.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>