<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTaxi - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/media.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/Home/Index"><img src="~/img/logo.png" alt="logo" /></a>
        </div>

        <a href="#" class="m-menu-link-btn">
            <img src="~/img/menu.png" alt="" />
        </a>

        <div class="menu visible-lg">
            <ul>
                @if (Model != null && Model.isAuthorize == true && Model.isDriver == false)
                {
                    <li><a href="/Order/Order" class="menu_link">Оформить поездку</a></li>
                    <li><a href="/History/History" class="menu_link">История поездок</a></li>
                }
                else if (Model != null && Model.isAuthorize == true && Model.isDriver == true)
                {
                    <li><a href="/Trips/AwaitingTrips" class="menu_link">Взять заказ</a></li>
                }
                @if (Model == null || Model.isAuthorize == false)
                {
                    <li><a href="/AuthReg/Authorization" class="menu_link authorize_btn">Вход</a></li>
                    <li><a href="/AuthReg/RegistrationWay" class="menu_link authorize_btn">Регистрация</a></li>
                }
                else
                {
                    <li>
                        <p class="menu__link user_name">@Model.userSurname @Model.userName @Model.userPatronymic</p>
                    </li>
                    <li><a href="/AuthReg/LogOut" class="menu_link authorize_btn">Выйти</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="m-menu">
        <ul>
            <li class="m-menu__close-menu">&times</li>
            @if (Model != null && Model.isAuthorize == true && Model.isDriver == false)
            {
                <li><a href="/Order/Order" class="m-menu_link">Оформить поездку</a></li>
                <li><a href="/History/History" class="m-menu_link">История поездок</a></li>
            }
            else if (Model != null && Model.isAuthorize == true && Model.isDriver == true)
            {
                <li><a href="/Trips/AwaitingTrips" class="m-menu_link">Взять заказ</a></li>

            }
            @if (Model == null || Model.isAuthorize == false)
            {
                <li><a href="/AuthReg/Authorization" class="menu_link authorize_btn">Вход</a></li>
                <li><a href="/AuthReg/RegistrationWay" class="menu_link authorize_btn">Регистрация</a></li>
            }
        </ul>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="footer__contacts-info">
            <div class="footer__contacts-info__contacts">
                <img src="~/img/mobile-phone.png" alt="phone" />
                <a href="#">89-90-57, 909-909</a>
            </div>
            <div class="footer__contacts-info__emails">
                <img src="~/img/email.png" alt="email" />
                <a href="#">MyTaxi@gmail.com</a>
            </div>
        </div>
        <div class="footer__company-info">
            <h3>Сервис заказа такси "MyTaxi"</h3>
        </div>
        <div class="footer__social-info">
            <div class="footer_social-info">
                <div class="footer_social-info__Instagram">
                    <img src="~/img/instagram.png" alt="instagram" />
                    <a href="#">@@my_taxi_topKHV</a>
                </div>
                <div class="footer_social-info__VK">
                    <img src="~/img/vk.png" class="vk-picture" alt="vk" />
                    <a href="#">vk.com/MyTaxi</a>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="~/js/m-menu.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>