@using MyTaxi.Models.ViewModels
@model MyTaxi.Models.ViewModels.History
@{
    ViewData["Title"] = "History";
}
<div class="body-history">
    @if (ViewBag.Info != null && ((List<MyTaxi.Models.ViewModels.HistoryInfo>)ViewBag.Info).Count > 0)
    {
        @foreach (var info in (List<MyTaxi.Models.ViewModels.HistoryInfo>)ViewBag.Info)
        {
            <div class="body-history__info-block">
                <div class="body-history__info-block__header">
                    <h3>Заказ №@info.OrderID</h3>
                </div>
                <div class="body-history__info-block__body">
                    <div class="body-history_info-block__route">
                        <p class="body-history_info-block__route__list-route">Маршрут поездки:</p>
                        @{
                            int i = 1;
                        }
                        @foreach (var adr in info.Addresses)
                        {
                            <p>@i) @adr </p>
                            i++;
                        }
                        <p class="body-trip_info-block__route__sum">Стоимость поездки: @info.MainSumm₽</p>
                        @if (info.DriverFound)
                        {
                            <p>Водитель @info.DriverSurname @info.DriverName @info.DriverPatronymic</p>
                            <p>На @info.CarMark @info.CarModel с номером @info.CarNumber цвета @info.CarColor</p>
                        }
                        else
                        {
                            <p>Идет поиск водителя...</p>
                        }
                    </div>
                    <div class="body-history_info-block__driver-car">
                        <p>История поездки:</p>
                        @{ i = 1;}
                        @foreach (var status in info.Statuses)
                        {
                            <p>@i) @status.Item1.StatusName @status.Item2 </p>
                            i++;
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>История поездок пуста!</h3>
    }
</div>
